body {
    background-color: #0c0f17;
    color: white;
}

.glass-header {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}
